<div id="menu_container">
<ul id="nav_menu">
	<li><%= link_to "Welcome", :controller => :welcome, :action => :index %></li>
	<li><%= link_to "Users", :controller => :users, :action => :index %></li>
	<li><%= link_to "Microposts", :controller => :microposts, :action => :index %></li>
	<li>
		<%= link_to "CCSF Rails Index", :controller => :ccsf_rails, :action => :index %>
		<ul>
			<li><%= link_to "About", :controller => :ccsf_rails, :action => :about %></li>
			<li><%= link_to "Links", :controller => :ccsf_rails, :action => :links %></li>
			<li><%= link_to "Help", :controller => :ccsf_rails, :action => :help %></li>
		</ul>
	</li>
</ul>
</div>
