<header>
	<%= link_to "sample app", root_path, id: "logo" %>
	<nav id="nav-top">
		<ul id="nav_menu">
          <% if signed_in? %>
            <li><%= link_to "Users", '#' %></li>
            <li><a href="#">Account</a>
              <ul>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign up", signup_path %></li>
			<li><%= link_to "Login", signin_path %></li>
          <% end %>
        </ul>
	</nav>
</header>
